
<h2>Add Document</h2>
<input [(ngModel)]="doc.id" placeholder="ID" />
<input [(ngModel)]="doc.content" placeholder="Content" />
<input [(ngModel)]="doc.metadata.author" placeholder="Author" />
<input [(ngModel)]="doc.metadata.category" placeholder="Category" />
<button (click)="submitDoc()">Submit</button>
<hr>
<button (click)="submitBulkFromFile()" class="btn btn-primary mt-3">
  Submit Bulk Documents
</button>
<div *ngIf="errorMessage" style="color: red; margin-top: 1rem;">
  {{ errorMessage }}
</div>
